.page-header {
  position: absolute;
  top: 0;
  height: 20vw;
  background-color: black;
}

.page-header img {
  position: absolute;
  top: -5vw;
  left: 30vw;
  width: 40%;
}

body {
  background-color: black;
}

.navbar {
  position: absolute;
  top: 20vw;
}

.main-stuff {
  position: absolute;
  top: 30vw;
}
