.page-header {
  position: relative;
  margin-top: 1 vw;
  height: 20vw;
  background-color: black;
  width:100%;
}

.page-header img {
  position: relative;
  top:-30px;
  left: 30vw;
  width: 40%;
}

body {
  background-color: black;
  color: #717171;
  width:100%;
}

.navbar {
  position: relative;
  top: -50px;
}

.main-stuff {
  position: relative;
  margin-top: 20px;
}

.main-stuff img{
  margin: auto;
  margin: 40px;
}

.dropdown-toggle {
  width:50%;
}

@media (min-width: 768px) and (max-width: 2000px) {
    .song-directory .navbar-collapse.collapse {
        display: none !important;
    }
    .song-directory .navbar-collapse.collapse.in {
        display: block !important;
    }
    .song-directory .navbar-header .collapse, .song-directory .navbar-toggle {
        display:block !important;
    }
    .song-directory .navbar-header {
        float:none;
    }
}

.panel-default{
  background-color: black;
  border-style:solid;
  border-width: 2px;
  border-color: #717171;
}
